@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

<div class="calculator-main">
    <GoogleMap  @ref="@_map1" Id="map1" Options="@_mapOptions" OnAfterInit="@(async () => await OnAfterInitAsync())">
    </GoogleMap>
</div>
    @* <h3 class="calculator">Calculator</h3> *@
    @* <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM357oskRNJ_s4RB1ZRGzZu9-mIgMQTqI&callback=console.debug&libraries=maps,marker&v=beta" /> *@
    @* <gmp-map center="40.12150192260742,-100.45039367675781" zoom="12" map-id="DEMO_MAP_ID">
        <gmp-advanced-marker position="40.12150192260742,-100.45039367675781" title="My location"></gmp-advanced-marker>
    </gmp-map> *@
