

.calculator-main ::deep gmp-map {
    height: calc(100vh - 150px);
}

.calculator {
    color: antiquewhite;
}

.result-item {
    padding-right: 5%;
    padding-left: 5%;
}
/* Optional: Makes the sample page fill the window. */