<div class="main-row px-main row w-100">
    <div class="logo col-auto">
        <NavLink class="nav-link align-middle" href="" Match="NavLinkMatch.All">
            <span class="bi bi-sun"></span>
            Sun Energy
        </NavLink>
    </div>
    <div class="nav-menu col">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="bi bi-list"></span>
        </button>
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door mr-2" aria-hidden="true"></span> Home 
            </NavLink>
            <NavLink class="nav-link" href="calculator">
                <span class="bi bi-calculator mr-2" aria-hidden="true"></span> Calculator
            </NavLink>
            <NavLink class="nav-link" href="services">
                <span class="bi bi-gear mr-2" aria-hidden="true"></span> Services
            </NavLink> 
            <NavLink class="nav-link" href="partners">
                <span class="bi bi-people mr-2" aria-hidden="true"></span> Partners
            </NavLink>
            <NavLink class="nav-link" href="support">
                <span class="bi bi-headset mr-2" aria-hidden="true"></span> Support
            </NavLink>
            <NavLink class="nav-link" href="aboutus">
                <span class="bi bi-question-lg mr-2" aria-hidden="true"></span> About Us
            </NavLink>
        </div>
    </div>
    <div class="contacts-header align-middle col-auto">
        <NavLink class="nav-link align-middle" href="contactus">
            Contact Us
            <span class="bi bi-envelope" aria-hidden="true"></span>
        </NavLink>
    </div>
</div>