@page "/"

<PageTitle>Sunergy Home Page</PageTitle>

<div class="home-banner container-fluid d-flex justify-content-center position-relative">
    <div class="title-container row justify-content-between w-100 main-row px-main">
        <div class="title-main col-12 col-xl-6 ">
            <div class="yellow-title pb-2">RENEWABLE ENERGY</div>
            <div class="big-title">Digital in the Future of Energy</div>
        </div>
        <div class="title-info-block col-12 col-xl-5 ">
            <div class="title-info pb-2">Enable reliable, cost effective and dispatchable power</div>
            <div class="short-text-info">Sun Energy has accumulated more than 9 gigawatts of total global installed base
                and backlog for its inverter technology...</div>
            <div class="link-btn-container pt-3">
                <button type="button" class="link-btn">
                    <i class="bi bi-globe link-btn-icon"></i>
                    <span class="px-2">Save Earth</span>
                </button>
            </div>
        </div>
    </div>
    <div class="view-container row justify-content-between w-100 main-row px-main pt-5 mt-3">
        <div class="card-banner col col-xl-5 col-xxl-4">
            <div class="card-text col-12 text-black text-center px-5">
                <div class="card-calc">10M+</div>
                Worldwide product
                sales per year
            </div>
            <div class="video-container col-12 ">
                <video class="d-block" width="100%" height="auto" autoplay muted loop preload="auto">
                    <source src="https://videos.pexels.com/video-files/4034091/4034091-uhd_2560_1440_30fps.mp4"
                        type="video/mp4">
                    Your browser does not support the video tag.
                </video>


            </div>
        </div>
    </div>
    <div class="bottom-0 px-main justify-content-end position-absolute row main-row w-100">
        <div class="banner-absolute-text col col-xl-7 col-xxl-8">
            Reducing carbon and costs while providing sustainable, reliable, and affordable power
        </div>
    </div>
</div>



<div class="container-fluid d-flex gradientunder">

</div>

<div class="container-fluid pt-5 d-flex justify-content-center position-relative">
    <div class="blog-container row justify-content-between w-100 main-row px-main">
        <div class="title-blog">
            <span class="border-bottom pb-2 border-color-green">our blog</span>
        </div>
        <div class="header-blog row">
            <div class="header-text col">Advancing the energy transition through innovation</div>
            <div class="header-btn-container col-auto pt-2">
                <button type="button" class="header-btn">
                    <span class="px-2">Read More</span>
                    <i class="bi bi-globe header-btn-icon"></i>
                </button>
            </div>
        </div>
        <div class="blog-item-container row pt-4 mt-4">
            <div class="col">
                <div class="blog-item col  p-0">
                    <div class="blog-item-img img1"></div>
                    <div class="blog-item-teg">
                        INDUSTRY
                    </div>
                    <div class="blog-item-title">
                        Advanced Distribution Management Solutions
                    </div>
                    <div class="blog-item-text">
                        Distribution management systems for the modern grid.
                    </div>
                    <div class="blog-item-btn-comtainer">
                        <button type="button" class="blog-item-btn">
                            <span class="px-2">Learn More</span>
                            <i class="bi bi-globe blog-item-btn-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-item col  p-0">
                    <div class="blog-item-img img2"></div>
                    <div class="blog-item-teg">
                        SOFTWARE
                    </div>
                    <div class="blog-item-title">
                        Asset performance
                        Management Software
                    </div>
                    <div class="blog-item-text">
                        Distribution management systems for the modern grid.
                    </div>
                    <div class="blog-item-btn-comtainer">
                        <button type="button" class="blog-item-btn">
                            <span class="px-2">Learn More</span>
                            <i class="bi bi-globe blog-item-btn-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-item col  p-0">
                    <div class="blog-item-img img3"></div>
                    <div class="blog-item-teg">
                        INDUSTRY
                    </div>
                    <div class="blog-item-title">
                        Intersolar Europe 2022 live blog - day one
                    </div>
                    <div class="blog-item-text">
                        Distribution management systems for the modern grid.
                    </div>
                    <div class="blog-item-btn-comtainer">
                        <button type="button" class="blog-item-btn">
                            <span class="px-2">Learn More</span>
                            <i class="bi bi-globe blog-item-btn-icon"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
